.config/hypr/hyprland/theming.conf
.config/hypr/envvars.conf
.config/hypr/hyprland/custom.conf
.config/hypr/hyprland/display.conf

.config/cava/shaders

.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/nvim/lua/plugins/Theme.lua

.config/kitty/Material.conf
.config/kitty/Colours.conf

**/*bak

