@define-color bg-light @bg;

window#waybar {
  background-color: transparent;
  border: none;
}

#custom-apps, #custom-notifications, #workspaces, #clock, #pulseaudio, #window, #tray, #custom-shutdown, #custom-logout, #custom-reboot, #custom-firmware, #custom-suspend, #custom-tray-collapsed, #custom-divider, #custom-power-left-end, #custom-tray-left-end,#custom-clock-icon,#custom-audio-icon {
 margin-top: 12px;
 margin-bottom: 0;
}

