* {
  font-family: 'Cascadia Code', 'Symbols Nerd Font Mono';
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 35px;
}

window#waybar {
  background-color: #1E2326;
  border-bottom: 1px solid #374145;
}

window#waybar.empty #window {
  background-color: transparent;
  transition: none;
}

#custom-apps, #workspaces, #custom-notifications {
  color: #A7C080;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #272E33;
  margin-top: 5px;
  margin-bottom: 6px;
  border-radius: 4px;
}

#custom-apps, #custom-notifications {
  font-size: 15px;
  margin-left: 15px;
  color: #A7C080;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-notifications {
  margin-left: 0px;
  margin-right: 5px;
}

#custom-apps {
  margin-left: 5px;
}

#workspaces button {
  color: #A7C080;
  padding: 0 10px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#clock, #pulseaudio, #window, #tray, #custom-tray-collapsed {
  color: #D3C6AA;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  background-color: #272E33;
  margin-top: 5px;
  margin-bottom: 6px;
  border-radius: 4px;
}

#tray {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
}

#custom-shutdown, #custom-logout, #custom-reboot, #custom-firmware, #custom-suspend, #custom-tray-collapsed {
  color: #A7C080;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #272E33;
  margin-top: 5px;
  margin-bottom: 6px;
}

#custom-divider {
  color: #A7C080;
  background-color: #272E33;
  margin-top: 5px;
  margin-bottom: 6px;
}

#custom-shutdown, #custom-tray-collapsed {
  margin-right: 15px;
  border-radius: 0 4px 4px 0;
}

#custom-power-left-end, #custom-tray-left-end {
  background-color: #272E33;
  border-right: none;
  border-radius: 4px 0 0 4px;
  margin-top: 5px;
  margin-bottom: 6px;
}

#window {
  transition: linear 0.3s;
}
