@define-color bg #1E1E2E;
@define-color bg-light #313244;
@define-color border #313244;
@define-color fg #CDD6F4;
@define-color accent #B4BEFE;
@define-color icons @accent;
@define-color inactive #45475A;

