@define-color bg #272E33;
@define-color bg-light #2E383C;
@define-color border #374145;
@define-color fg #D3C6AA;
@define-color accent #A7C080;
@define-color icons @accent;
@define-color inactive #414B50;

