@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

@media (prefers-color-scheme: dark) {
  :root {
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: #1e1e2e;
	--gnome-browser-content-box-background: #1e1e2e;
	--theme-primary-color: #b4befe;
	--theme-primary-hover-color: #bec6ff;
	--theme-primary-active-color: #b4befe;

	/* Toolbars */
	--gnome-toolbar-background: #1e1e2e;
	--gnome-tabstoolbar-background: #1e1e2e;
	--gnome-findbar-background: #1e1e2e;
	--gnome-toolbar-color: #cdd6f4;
	--gnome-toolbar-border-color: #181825;
	--gnome-inactive-toolbar-background: #181825;
	--gnome-inactive-toolbar-border-color: #11111b;

	/* Sidebar */
	--gnome-sidebar-background: #1e1e2e;
	--gnome-inactive-sidebar-background: #181825;

	/* Popups */
	--gnome-menu-background: #1e1e2e;
	--gnome-menu-border-color: #181825;
	--gnome-popover-background: #1e1e2e;
	--gnome-popover-border-color: #181825;
	--gnome-popover-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.75);
	--gnome-popover-button-hover-background: #181825;
	--gnome-popover-button-active-background: #181825;
	--gnome-popover-separator-color: #181825;

	/* Header bar */
	--gnome-headerbar-background: #1e1e2e;
	--gnome-headerbar-border-color: #181825;
	--gnome-headerbar-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
	--gnome-inactive-headerbar-background: #181825;
	--gnome-inactive-headerbar-border-color: #11111b;
	--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);

	/* Buttons */
	--gnome-button-background: #45475a;
	--gnome-button-border-color: #313244;
	--gnome-button-border-accent-color: #b4befe;
	--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	--gnome-button-hover-color: rgba(255, 255, 255, 0.1);
	--gnome-button-active-color: rgba(255, 255, 255, 0.2);
	--gnome-button-hover-background: #585b70;
	--gnome-button-active-background: #45475a;
	--gnome-button-active-border-color: #313244;
	--gnome-button-active-border-accent-color: #b4befe;
	--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	--gnome-button-disabled-background: #181825;
	--gnome-button-disabled-border-color: #11111b;
	--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0.03);
	--gnome-inactive-button-background: #313244;
	--gnome-inactive-button-border-color: #1e1e2e;
	--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.0);
	--gnome-button-suggested-action-background: #b4befe;
	--gnome-button-suggested-action-border-color: #9399b2;
	--gnome-button-suggested-action-border-accent-color: #b4befe;;
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);
	--gnome-button-suggested-action-hover-background: #bec6ff;
	--gnome-button-suggested-action-active-background: #b4befe;
	--gnome-button-suggested-action-active-border-color: #9399b2;
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
	--gnome-button-destructive-action-background: #f38ba8;
	--gnome-button-destructive-action-border-color: #e07291;
	--gnome-button-destructive-action-border-accent-color: #f38ba8;
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: #e07291;
	--gnome-button-destructive-action-active-background: #f38ba8;
	--gnome-button-destructive-action-active-border-color: #e07291;
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	--gnome-headerbar-button-hover-background: rgba(255, 255, 255, 0.1);
	--gnome-headerbar-button-active-background: rgba(255, 255, 255, 0.15);

	/* URL bar */
	--gnome-urlbar-background: #45475a;
	--gnome-urlbar-border-color: #313244;
	--gnome-urlbar-box-shadow: 0 3px 6px 1px rgba(0,0,0, .2), 0 5px 16px 3px rgba(0,0,0, .15), 0 0 0 1px rgba(0, 0, 0, 0.75);
	--gnome-urlbar-color: #cdd6f4;
	--gnome-hover-urlbar-border-color: #b4befe;
	--gnome-inactive-urlbar-background: #313244;
	--gnome-inactive-urlbar-border-color: #1e1e2e;
	--gnome-inactive-urlbar-box-shadow: none;
	--gnome-inactive-urlbar-color: #bac2de;
	--gnome-focused-urlbar-border-color: #b4befe;
	--gnome-focused-urlbar-highlight-color: #b4befe;
	--gnome-private-urlbar-background: #11111b;

	/* Tabs */
	--gnome-tabbar-tab-background: #313244;
	--gnome-tabbar-tab-color: #cdd6f4;
	--gnome-tabbar-tab-hover-background: #45475a;
	--gnome-tabbar-tab-hover-border-bottom-color: #11111b;
	--gnome-tabbar-tab-hover-color: #cdd6f4;
	--gnome-tabbar-tab-active-background: #45475a;
	--gnome-tabbar-tab-active-border-bottom-color: #b4befe;
	--gnome-tabbar-tab-active-color: #cdd6f4;
	--gnome-tabbar-tab-active-hover-background: #6c7086;
	--gnome-inactive-tabbar-tab-color: #bac2de;
	--gnome-inactive-tabbar-tab-background: #1e1e2e;
	--gnome-inactive-tabbar-tab-active-background: #313244;
	--gnome-inactive-tabbar-tab-active-border-bottom-color: var(--gnome-tabbar-tab-active-border-bottom-color);
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
	--gnome-tab-attention-icon-color: #b4befe;

	/* Switch */
	--gnome-switch-background: #45475a;
	--gnome-switch-hover-background: #585b70;
	--gnome-switch-active-background: #45475a;
	--gnome-switch-border-color: transparent;
	--gnome-switch-slider-background: #cdd6f4;
	--gnome-switch-slider-border-color: transparent;
	--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-switch-pressed-background: #b4befe;
	--gnome-switch-pressed-hover-background: #bec6ff;
	--gnome-switch-pressed-active-background: #9098cd;
	--gnome-switch-active-border-color: transparent;
	--gnome-switch-active-slider-border-color: transparent;

	/* Dirty hacks for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%);
	--gnome-icons-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(200%); /* without invert: none */
	--gnome-window-icons-hack-filter: invert(90%); /* without invert: none */

	/* Private window colors */
	--gnome-private-accent: #cba6f7;

	/* Toolbars */
	--gnome-private-toolbar-background: var(--gnome-headerbar-background);
	--gnome-private-inactive-toolbar-background: var(--gnome-inactive-headerbar-background);
	/* Menus */
	--gnome-private-menu-background: #181825;
	/* Header bar */
	--gnome-private-headerbar-background: #1e1e2e;
	--gnome-private-inactive-headerbar-background: var(--gnome-private-toolbar-background);
	/* Tabs */
	--gnome-private-tabbar-tab-hover-background: #585b70; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background: #cdd6f4; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-background-contrast: #495675; /* Hardcoded color */
	--gnome-private-tabbar-tab-active-hover-background: #6c7086; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-hover-background: ##313244; /* Hardcoded color */
	--gnome-private-inactive-tabbar-tab-active-background: #45475a; /* Hardcoded color */

	/* Text color for Firefox Logo in new private tab */
	--gnome-private-wordmark: #cdd6f4;

	/* New private tab background */
	--gnome-private-in-content-page-background: #11111b;

	/* Private browsing info box */
	--gnome-private-text-primary-color: #cdd6f4;
  }
}
